@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

body{
  background: url(/assets/images/pyramid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form {
    background-color: rgba(0, 0, 0, 0.734);
    border-radius: 10px;
    opacity: 1;
    z-index: 5;
    color: white;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
}

form h2 {
    font-size: 30px;
    color: white;
    margin: 30px 20px 10px;
}

form input, form textarea {
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.734);
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 160px;
}

form button {
    padding: 10px;
    background-color: #8aebff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px;
    width: 200px;
    margin: 10px auto;
}

form button:hover {
    background: white;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  form h2 {
    font-size: 18px;
  }

  form input, form textarea {
    font-size: 12px;
  }

  form button {
    width: 120px;
    font-size: 14px;
  }
}
  
  /* Small devices (portrait tablets and large phones, 500px and up) */
  @media only screen and (min-width: 450px) {
    body {
        position: relative;
        min-height: 120vh;
      }

      .landing-page-title h1 {
        font-size: 20px;
        width: 250px;
        margin-bottom: 20px;
      }
      .logo-dropdown .dropbtn {
      font-size: 20px;
      }
    form {
        width: 300px;
        height: 300px;
        font-size: 10px;
    }

    form h2 {
        font-size: 16px;
    }

    form input, form textarea {
        margin: 2px 20px;
        padding: 6px;
        font-size: 10px;
    }

    form button {
        width: 100px;
        font-size: 10px;
        height: 30px;
    }
  }
  
  /* Medium devices (landscape tablets, 700px and up) */
  @media only screen and (min-width: 700px) {
    .landing-page-title h1 {
        font-size: 30px;
        width: 30rem;
    }

    .logo-dropdown .dropbtn{
        font-size: 30px;

    form {
        min-width: 400px;
        height: 300px;
    }

    form h2 {
        font-size: 20px;
    }

    form input, form textarea {
        font-size: 12px;
        padding: 4px;
    }
    form button {
        height: 40px;
        font-size: 14px;
        width: 130px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    form {
        min-width: 500px;
        height: 500px;
    }

    form h2 {
        font-size: 24px;
    }

    form input, form textarea {
        font-size: 18px;
        padding: 8px;
        margin: 10px;
    }
    form button {
        height: 60px;
        font-size: 20px;
        width: 150px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
  
  /* Extra Extra large devices (large laptops and desktops, 2100px and up) */
  @media only screen and (min-width: 2100px) {
    .landing-page-title h1 {
        font-size: 80px;
        width: 90rem;
    }

    form {
        min-width: 900px;
        height: 700px;
    }

    form h2 {
        font-size: 50px;
    }

    form input, form textarea {
        font-size: 24px;
        padding: 20px;
    }
    form button {
        height: 60px;
        font-size: 26px;
        width: 250px;
    }
  }

