@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  list-style: none;
}

.start-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  background-color: rgb(23, 133, 133);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  height: 100px;
  font-size: 40px;
  padding: 10px;

}

.start-button button.hideme {
  display: none;
}

.start-button button:hover {
  background-color: #000000;
  transition: 0.6s;
}

.quiz-container.activeInfo {
  display: flex;
  flex-direction: column;
  margin: 400px auto;
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s;
  transform: translate(-0%, -50%) scale(1);
}

.quiz-container {
  max-width: 500px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-0%, -50%) scale(1);
}

.stats-row {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 10px;
  margin: 10px;
}

.quest-counter,
.points-counter,
.timer-counter
 {
  text-align: center;
  margin: 2px 30px 20px;
}

.quest-num, #question-text {
  text-align: center;
  font-size: 30px;
  color: white;
}

h2 {
  color: white;
  font-size: 26px;
}

#question-counter h2,
#points-counter h2 {
  margin: 10px 0;
}

.controls {
  margin: 20px;
  text-align: center;
  padding: 16px;
}

.next-button {
  width: 90px;
  height: 50px;
  font-size: 26px;
  background-color:rgba(154, 217, 255, 0.853);
  border-radius: 10px;
}

.next-button:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

.option-container {
  display: flex;
  flex-direction: initial;
  font-size: 1.2rem;
  margin: 10px;
  background-color: white;
}

.option-container:hover {
  box-shadow: 11px 4px 28px -11px rgb(255, 255, 255);
  transition: 0.2s;
}

#option-prefix {
  background-color: rgba(19, 19, 19, 0.853);
  color: white;
  padding: 1.2rem 2.2rem;
  margin: 0;
}

#option-text {
  padding: 1.2rem;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

#option-text#selected {
  padding: 1.2rem;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.correct {
  background-color: rgb(10, 200, 10);
  color: white;
}

.incorrect {
  background-color: rgb(255, 30, 30);
  color: white;
}

/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {

.logo-dropdown, .landing-page-title {
  line-height: 24px;
}

.logo-dropdown {
  float: left;
  margin-left: 20px;
}

.dropbtn i {
  font-size: 20px;
  float: left;
}

  #quiz-container {
    width: 280px;
    margin: 50px auto
  }

  .stats-row h2 {
    font-size: 18px;
  }

  #question-text h2 {
    margin: 2px;
    font-size: 26px;
  }

  .option-text {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 500px and up) */
@media only screen and (min-width: 450px) {
  #quiz-container {
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {
  #quiz-container {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #quiz-container {
    width: 700px;
}
#quiz-container h2 {
    text-align: center;
    font-size: 34px;
  }
  #quiz-container p, .index-btn {
    font-size: 20px;
  }
  
  .index-btn {
    width: 300px;
    height: 50px;
  }
}

/* Extra Extra large devices (large laptops and desktops, 2100px and up) */
@media only screen and (min-width: 2100px) {
  .landing-page-title h1 {
    font-size: 150px;
    width: 70rem;
}
.landmark-logo, .material-symbols-outlined {
  font-size: 100px;
}

.landmark-logo {
  margin-left: 70px;
}

#quiz-container {
  min-width: 1400px;
}

#quiz-container h2 {
  text-align: center;
  font-size: 80px;
}

#quiz-container p, li, .index-btn {
  font-size: 50px;
}

.index-btn {
  width: 500px;
  height: 100px;
}
}
