@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

body {
  margin: none;
  background: url(/assets/images/pyramid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}