@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  list-style: none;
}

body {
  margin: none;
  background: url(/assets/images/pyramid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: #000000;
}

.quiz-container {
  max-width: 500px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 10px;
}

.tallies {
  display: flex;
  justify-content: space-between;
}

#question-counter,
#points-container {
  text-align: center;
  margin: 6px 30px 2px;
}

#question {
  text-align: center;
  font-size: 30px;
  color: white;
}

h2 {
  color: white;
}

#question-counter h2,
#points-container h2 {
  margin: 10px 0;
}

.controls {
  margin: 20px;
  text-align: center;
  padding: 16px;
}

#next-btn {
  width: 90px;
  height: 50px;
  font-size: 26px;
}

.answer-container {
  display: flex;
  flex-direction: initial;
  font-size: 1.2rem;
  margin: 10px;
}

.answer-container:hover {
  box-shadow: 1px 1px 38px -7px rgb(255, 255, 255);
  cursor: pointer;
}

.answ-prefix {
  background-color: rgba(154, 217, 255, 0.853);
  color: white;
  padding: 1.2rem 2.2rem;
  margin: 0;
}

.answ-text {
  padding: 1.2rem;
  width: 100%;
  background-color: white;
  margin: 0;
}

.correct {
  background-color: rgb(10, 200, 10);
}

.incorrect {
  background-color: rgb(255, 30, 30);
}

/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {

.logo-dropdown, .landing-page-title {
  line-height: 24px;
}

.logo-dropdown {
  float: left;
  margin-left: 20px;
}

.dropbtn i {
  font-size: 20px;
  float: left;
}

  #quiz-container {
    width: 280px;
    margin: 50px auto
  }

  .tallies h2 {
    font-size: 18px;
  }

  #question h2 {
    margin: 2px;
    font-size: 26px;
  }

  .answ-text {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 500px and up) */
@media only screen and (min-width: 450px) {
  #quiz-container {
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {
  #quiz-container {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #quiz-container {
    width: 700px;
}
#quiz-container h2 {
    text-align: center;
    font-size: 34px;
  }
  #quiz-container p, li, .index-btn {
    font-size: 20px;
  }
  
  .index-btn {
    width: 300px;
    height: 50px;
  }
}

/* Extra Extra large devices (large laptops and desktops, 2100px and up) */
@media only screen and (min-width: 2100px) {
  .landing-page-title h1 {
    font-size: 150px;
    width: 70rem;
}
.landmark-logo, .material-symbols-outlined {
  font-size: 100px;
}

.landmark-logo {
  margin-left: 70px;
}

#quiz-container {
  min-width: 1400px;
}

#quiz-container h2 {
  text-align: center;
  font-size: 80px;
}

#quiz-container p, li, .index-btn {
  font-size: 50px;
}

.index-btn {
  width: 500px;
  height: 100px;
}
}
