@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  color: black;
}

body {
  margin: none;
}

.landmark-logo {
  float: left;
}

.landing-page-title h1 {
  text-align: center;
  margin: 0;
}

.material-symbols-outlined {
  float: right;
  margin-top: -24px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.welcome-container {
  margin: 10%;
  justify-content: center;
  background: yellow;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.welcome-container h2 {
  text-align: center;
}

.button-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

footer {
  text-align: center;
}
