@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

body {
  margin: none;
  background: url(/assets/images/pyramid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

nav {
  margin: 40px 0 0;
  z-index: 10;
}
.landmark-logo {
  float: left;
  margin-left: 40px;
}

.landing-page-title h1 {
  text-align: center;
  font-size: 50px;
  margin: auto;
  width: 30rem;
}

.material-symbols-outlined {
  float: right;
  margin-right: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.landmark-logo, .material-symbols-outlined {
  font-size: 50px;
}

.welcome-container {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: white;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 4px 4px 14px 6px #000000;
  z-index: 6;
}

.welcome-container h2 {
  text-align: center;
}

.button-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.index-btn {
  margin: 10px;
  padding: 10px 18px;
  background: #9AD9FF;
  border-radius: 6px;
  border: none;
  width: 250px;
  font-size: 20px;
}

.index-btn:hover {
  background: white;
  border: #000000 2px solid;
  transition: 0.4s;
}

/*Footer css styling including social media links*/

footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  background-color: white;
  opacity: 0.9;
  min-width: 100vw;
}

.social-links {
  display: flex;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}